{#
Отвечает за отображение текущего тарифа пользователя (период действия и т.п.).
#}

{% set sub = frappe.db.get_value("Subscription", {"user": frappe.session.user}, ["user", "date_start", "date_end", "tariff"], as_dict=True) %}

{% if sub %}
<li class="nav-item d-flex flex-column text-center">
	<div class="tariff-title font-weight-bold">
		{{ sub.tariff }}
	</div>
	<div class="tariff-dates font-weight-light">
		до {{ sub.date_end }}
	</div>
</li>
<div class="divider"></div>
{% else %}
<li class="nav-item d-flex flex-column text-center">
	<div class="tariff-title font-weight-bold text-secondary">
		ТАРИФ НЕ АКТИВИРОВАН
	</div>
</li>
<div class="divider"></div>
{% endif %}
